.app {
  margin: 20px;
  
}
.app form {
  width: 300px;
  border: 1px solid #b5b5b5;
  padding: 10px;
  display: block;
}
.app form input {
  width: 100%;
  display: block;
  height: 28px;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ddd;
  font-size: 14px;
  box-sizing: border-box;
}
.app form button {
  padding: 5px 10px;
  border-radius: 3px;
  background: #ddd;
  font-size: 16px;
  outline: none;
}

.card {
  border: 1px solid #d5d5d5;
  padding: 10px;
  width: 300px;
  margin-top: 10px;
}